<h1>Welcome to our Library</h1>

<p>In a traditional sense, a library is a large collection of books, and can refer to the place in which the collection is housed. Today, the term can refer to any collection, including digital sources, resources, and services. The collections can be of print, audio, and visual materials in numerous formats, including maps, prints, documents, microform (microfilm/microfiche), CDs, cassettes, videotapes, DVDs, video games, e-books, audiobooks and many other electronic resources.</p>

<p>The places where this material is stored can range from public libraries, subscription libraries, private libraries, and can also be in digital form, stored on computers or accessible over the internet. The term has acquired a secondary meaning: "a collection of useful material for common use". This sense is used in fields such as computer science, mathematics, statistics, electronics and biology.</p>

<h2 id="popular-books-title">Latest books</h2>

<ul>
    <%= render :partial => "book", :collection => @books %>
</ul>


