<!DOCTYPE html>
  <head>
    <title>{% block title %}{% endblock %} - Много Бира</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print">
    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body onload="initialize()" onunload="GUnload()">
    <div class="container">
        <div id="header">
            <div id="logo" class="span-2">
              <img src="/static/images/logo.png" />
            </div>
            <div id="title" class="span-16">
              <h1>МногоБира.com</h1>
            </div>
        </div>
        <div id="menu" class="span-19">
          <a id="logo" href="/">Карта</a>
        </div>

        <div class="columns span-19">
          <div id="content" class="span-14">
            {% block content-header %}
              {% if error %}<div class="error">{{ error }}</div>{% endif %}
              {% if info %}<div class="info">{{ info }}</div>{% endif %}
              {% if messages %}
                {% for message in messages %}
                  <div class="info">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endblock %}

            {% block content %}{% endblock %}
          </div>

          <div id="sidebar" class="span-4 last">
            {% block sidebar %}
            {% endblock %}
          </div>
        </div>

        <div id="footer">
          <p>2011 | Някои права запазени</p>
        </div>
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
